#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


img {
  touch-action:none;
}
.koma {
  height: 70px;
  width: 70px;
  padding: 5px;

}
.koma:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.koma.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

img {
  transition:300ms;
}

.koma-selector {
  width: 100%;
  padding: 0.5rem;
  border-radius:0.3rem;
  margin-bottom:0.5rem;
  background-color: transparent;

  border: 1px solid darkgray;
}
.piece-box {
  width:120px;
  height:120px;
  position:relative;
  background-size:100% 100%;
  border:1px solid black;
  border-top-left-radius: 0.3rem;
  border-top-right-radius:0.3rem;


}
.animate-move {
  transition: 0.4s;
}

.piece-box:has(>:last-child:nth-child(1)) {
  /* has one child */
  background-color: aquamarine;
}
.piece-box:has(>:last-child:nth-child(2)) {
  /* has two children */
  background-color: greenyellow;
}
.piece-box:has(>:last-child:nth-child(3)) {
  /* has three children */
  background-color: darkolivegreen;

}

.piece-container {
  display: inline-block;
  margin:1rem;
}
.piece-box .koma {
  margin-top:22px;
}

.piece-name {
  background-color:black;
  color:white;
  border-bottom-left-radius:0.3rem;
  border-bottom-right-radius:0.3rem;
}
.move-target {
  position:fixed;
}

.wrapper {
  display:flex;
}
.right-pane {
  flex:  30%;
}
.left-pane {
  flex:  70%;
}